.room-container {
  width: 1000px;
  margin: 30px auto;
}
.room-title {
  margin-bottom: 30px;
  font-size: 32px;
  text-align: center;
}
#room-wrap {
  margin-bottom: 30px;
}
.room-message-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  line-height: 1.5;
  border-bottom: 1px solid #ddd;
}
.room-message-wrap:nth-child(even) {
  background-color: #f1f3f5;
}
.room-message-wrap:hover {
  cursor: pointer;
  color: #4dabf7;
}

.name {
  width: 150px;
  font-size: 13px;
}
.message {
  display: inline-block;
  margin: 0;
  padding: 7px 10px;
  flex: 1;
}
.datetime {
  margin: 0px 20px;
  font-size: 11px;
}
.edit-btn,
.delete-btn {
  padding: 8px 12px;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid #f03e3e;
  color: #f03e3e;
}
.edit-btn {
  margin-right: 10px;
}
.btn {
  height: 40px;
  padding: 0px 15px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
.create-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#textinput {
  height: 40px;
  border: 1px solid #ddd;
}
/* .test {
  background-color: rgb(233, 231, 231);
}

.headcss {
  background-color: blue;
}
.main-font {
  font-size: 100px;
  color: goldenrod;
  text-align: center;
  margin: auto;
}

.reviews {
  width: 500px;
  height: 500px;
  background-color: grey;
  margin: auto;
}

.form-group1 {
  width: 100px;
  height: auto;
  text-align: center;
  display: block;
  margin: auto;
}

.resist {
  background-color: green;
}

#textinput {
  width: 500px;
  height: 70px;
  display: block;
  margin: 20px auto;
}

.container {
  background: skyblue;
  width: auto;
  height: 120vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 300px;
  height: 90px;
  border: 2px solid black;
}

.item1 {
  background: #ef9a9a;
}
.item2 {
  background: #536dfe;
}
.item3 {
  background: #b8f4c8;
}
.item4 {
  background: #ff8a65;
}
.item5 {
  background: #fff9c4;
}
.item6 {
  background: #00bfa5;
}
.item7 {
  background: #efebe9;
}
.item8 {
  background: #607d8b;
}
.item9 {
  background: #1b5e20;
}
.item10 {
  background: #ffd54f;
}

.btn {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  padding: 5px;
  display: block;
  margin: auto;
  transition: 1s;
}
.btn:hover {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  padding: 5px;
  display: block;
  margin: auto;
  transition: 1s;
}

.my-img {
  width: auto;
  background-image: url(https://media.istockphoto.com/vectors/vector-seamless-pattern-with-waves-from-dots-beach-and-waves-light-vector-id1319285545?b=1&k=20&m=1319285545&s=170667a&w=0&h=fl50Gpl9VavGn4yuNfYrYGENolJEcnMDIkzwmF2v-hA=);
  background-repeat: repeat;
  background-position: center;
}
.foot {
  width: auto;
  height: 100px;
  background-color: rgb(233, 231, 231);
} */
