.roomlist-container {
  width: 1000px;
  margin: 30px auto;
}
.roomlist-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.roomlist {
  width: 22%;
  height: 110px;
  margin: 15px 0px;
  line-height: 110px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 1px solid black;
}

.roomlist-wrap:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}
.team-change-text {
  margin-bottom: 10px;
  color: #e64980;
}
.team-change-btn {
  padding: 6px 12px;
  border: 1px solid #f06595;
  border-radius: 3px;
  background-color: #fff;
  color: #f06595;
}

.team-popup-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.team-popup-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team-popup-content {
  width: 600px;
  padding: 50px;
  background-color: #fff;
}
.show {
  display: block;
}
.team-popup-content {
  position: relative;
}
.team-popup-content h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
}
.team-popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 8px 12px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #adb5bd;
}
.popup-wrap {
  margin-top: 40px;
}
.team-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #343a40;
}
.team-text span {
  font-weight: 400;
  color: #fa5252;
}
.change-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.change-wrap label {
  width: 80px;
  font-size: 16px;
  font-weight: 400;
}
.change-wrap input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dee2e6;
}
.change-wrap button {
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #fa5252;
  background-color: #fa5252;
}
/* 지연님 작업하신 것 일단 주석해놨어요! */
/* .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#room-list {
  background-color: red;
  background-position: center;
  width: auto;
  margin-left: -5px;
  height: 185px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: url("http://www.picturebook-illust.com/upload_board/new_Gallery/Original/m/20185211373.jpg");
  opacity: 0.8;
  background-size: cover;
}

#room-list2 {
  background-color: black;
  background-position: center;
  width: full-width;
  height: 185px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: url("https://img03.scbao.com/210521/1082212-210521203Z277.jpg");
  opacity: 0.8;
  background-size: cover;
}

#room-list3 {
  background-color: yellow;
  background-position: center;
  width: full-width;
  height: 185px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#room-list4 {
  background-color: green;
  background-position: center;
  width: full-width;
  height: 185px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.left-div {
  position: absolute;
  background-color: lightblue;
  margin-left: 320px;
  width: 100px;
  height: 60px;
  text-align: center;
  opacity: 0.7;
  padding-top: 17px;
  border-radius: 10px;
}

.right-div {
  position: absolute;
  background-color: lightblue;
  opacity: 0.7;
  margin-left: 430px;
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 17px;
  border-radius: 10px;
}

.left-under-div {
  position: absolute;
  background-color: lightblue;
  opacity: 0.7;
  margin-left: 320px;
  margin-top: 72px;
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 17px;
  border-radius: 10px;
}

.right-under-div {
  position: absolute;
  background-color: lightblue;
  opacity: 0.7;
  margin-left: 430px;
  margin-top: 72px;
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 17px;
  border-radius: 10px;
}

.left-div2 {
  position: absolute;
  background-color: lightblue;
  opacity: 0.7;
  margin-left: 570px;
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 17px;
  border-radius: 10px;
}

.right-div2 {
  position: absolute;
  background-color: lightblue;
  opacity: 0.7;
  margin-left: 680px;
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 17px;
  border-radius: 10px;
}

.left-under-div2 {
  position: absolute;
  background-color: lightblue;
  opacity: 0.7;
  margin-left: 570px;
  margin-top: 72px;
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 17px;
  border-radius: 10px;
}

.right-under-div2 {
  position: absolute;
  background-color: lightblue;
  opacity: 0.7;
  margin-left: 680px;
  margin-top: 72px;
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 17px;
  border-radius: 10px;
} */
