<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="PORT-us" />
    <meta property="og:description" content="새롭게 항해를 시작한 3기를 위한 온라인 방명록 서비스입니다. 모든 3기의 항해원들은 간단한 회원가입 후, 각자의 팀별 방에 입장한 뒤  자유롭게 글을 남기며 다양한 정보 공유 및 부담없는 소통의 시간을 즐길 수 있습니다." />
    <meta property="og:image" content="{{ url_for('static', filename='image/port-us.jpg') }}" />
    <title>PORT-us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css' ) }}">    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
</head>
<body>

{% block content %}
{% endblock %}
</body>
</html>