{% extends "index.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css' ) }}">
<script defer src="{{ url_for('static', filename='js/room.js') }}"></script>
<title>N Port</title>
{% endblock%}
{% block content %}

<body class="test">


    <section class="headcss">
      <div class="subcss">
        <h1 class="main-font my-img"> N Port </h1>
      </div>
    </section>
    <section>
      <div class="container my-img">
        <div class="item item1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, suscipit.</div>
      </div>
      <div class="input-div">
        <textarea name="text" placeholder="마음을 남기세요." id="textinput" cols="120" rows="1"></textarea>
      </div>
      <button onclick="registration()" class="btn">등록</button>

      <div class="foot">
      </div>

    </section>
</body>
{% endblock %}
