{% extends "index.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/roomlist.css' ) }}">
{% endblock%}
{% block content %}

<section class="roomlist-container">
    <h2 class="readable-hidden">조별 방 목록</h2>
    <div class="roomlist-wrap">
        <div class="roomlist">
            <p class="room-team-number">1조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">2조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">3조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">4조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">5조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">6조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">7조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">8조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">9조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">10조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">11조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">12조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">13조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">14조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">15조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">16조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">17조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">18조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">19조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">20조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">21조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">22조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">23조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">24조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">25조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">26조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">27조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">28조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">29조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">30조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">31조</p>
        </div>
        <div class="roomlist">
            <p class="room-team-number">32조</p>
        </div>
    </div>
</section>

<!-- 지연님 작업하신것 일단 주석해놨어요! -->
    <!-- <div class="container">
    <section id="room-list">
            <div class="left-div">
                <p>1</p>
            </div>
         <div class="left-div2">
                <p>5</p>
            </div>
            <div class="right-div">
                <p>2</p>
            </div>
         <div class="right-div2">
                <p>6</p>
            </div>
            <div class="left-under-div">
                <p>3</p>
            </div>
         <div class="left-under-div2">
                <p>7</p>
            </div>
            <div class="right-under-div">
                <p>4</p>
            </div>
         <div class="right-under-div2">
                <p>8</p>
            </div>
    </section>
    <section id="room-list2">
            <div class="left-div">
                <p>9</p>
            </div>
         <div class="left-div2">
                <p>13</p>
            </div>
            <div class="right-div">
                <p>10</p>
            </div>
         <div class="right-div2">
                <p>14</p>
            </div>
            <div class="left-under-div">
                <p>11</p>
            </div>
         <div class="left-under-div2">
                <p>15</p>
            </div>
            <div class="right-under-div">
                <p>12</p>
            </div>
         <div class="right-under-div2">
                <p>16</p>
            </div>
    </section>
    <section id="room-list3">
            <div class="left-div">
                <p>17</p>
            </div>
         <div class="left-div2">
                <p>21</p>
            </div>
            <div class="right-div">
                <p>18</p>
            </div>
         <div class="right-div2">
                <p>22</p>
            </div>
            <div class="left-under-div">
                <p>19</p>
            </div>
         <div class="left-under-div2">
                <p>23</p>
            </div>
            <div class="right-under-div">
                <p>20</p>
            </div>
         <div class="right-under-div2">
                <p>24</p>
            </div>
    </section>
    <section id="room-list4">
            <div class="left-div">
                <p>25</p>
            </div>
         <div class="left-div2">
                <p>29</p>
            </div>
            <div class="right-div">
                <p>26</p>
            </div>
         <div class="right-div2">
                <p>30</p>
            </div>
            <div class="left-under-div">
                <p>27</p>
            </div>
         <div class="left-under-div2">
                <p>31</p>
            </div>
            <div class="right-under-div">
                <p>28</p>
            </div>
         <div class="right-under-div2">
                <p>32</p>
            </div>
    </section>
    </div>
    <button id="team-number" onclick="enter()">enter</button> -->
{% endblock %}